.Login input {
  transition: 0.1s;
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  text-indent: 10px;
  margin-top: 6px;
  border: 1px solid rgb(0 158 165);
  border-radius: 25px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  font: 20px Verdana, sans-serif;
  letter-spacing: 2px;
  color: #003977;
}

.Logo {
  max-width: 250px;
  display: block;
  margin: 0px auto;
}

.Login input:active, input:focus {
  border: 1px solid #b9b9b9;
  outline: 0;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(102, 163, 177, 0) inset !important;
  color: #003977;
}

input[type="password"] {
  font: 23px Verdana, sans-serif;
  letter-spacing: 2px;
  color: #003977;
}

.Container {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  top: -75px;
  position: relative;
  padding-top: 50px;
  background-size: cover; 
  background-repeat: no-repeat
}

.Login {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 0;
}

.Login h1 {
  font-weight: 700;
  text-align: left;
}

.Subtitle {
  text-align: center;
  font-weight: 700;
  color: #009ea5;
  font-style: italic;
}

.ErrorMessage {
  text-align: center;
  padding: 20px;
  font-size: 17px;
  max-width: 300px;
  margin: 10px auto;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #721C24;
}

.Login p {
  color: #6e6e6e;
  font-size: 18px;
}

.Login label {
  margin-top: 20px;
  font-size: 20px;
  color: #009ea5;
  font-weight: 500;
  padding: 5px 15px;
}

.Login button {
  background-color: #005bbe;
  border-radius: 45px;
  padding: 10px 25px;
  color: white;
  border: 0px;
  font-size: 22px;
  width: 100%;
  display: block;
  cursor: pointer;
  margin: 25px auto;
  margin-bottom: 0;
}

@media screen and (max-width:1100px) {
  .Login {
    padding: 10px 50px;
  }
  .Login h1 {
    font-size: 1.4em;
  }
  .Login label {
    margin-top: 0px;
  }
}