/* Styles per Category */

.health {
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffced4, #ee9ca7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffced4, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.webtech {
  background: #ffb347;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lifestyle {
  background: #00c6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.selfhelp {
  background: #7b4397;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c47ee4, #7b4397);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c47ee4, #7b4397);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.business {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.miscellaneous {
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffa39f, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffa39f, #DE6262);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}